<h1>
  <%= post['title'] %>
</h1>
<p>
   <%= post['created_at'].strftime("%B %d, %Y") %> by <%= post['author'][0]['name'] %>
</p>
<article>
  <%= Kramdown::Document.new(post['body']).to_html %>
</article>
