hr {
  width: 100%;
  border-color: $light-gray;
}

footer {
  margin: ($global-margin * 3) 0;

  .social-link {
    color: $medium-gray;

    &:hover {
      color: $dark-gray;
    }
  }

  .copyright {
    margin-top: $global-margin * 2;
    padding: $global-padding 0;
    border-top: rem-calc(1) solid $light-gray;
    font-size: rem-calc(13);
    color: $medium-gray;
    text-align: center;
  }
}
