%footer{role: 'contentinfo'}
  .row
    .small-12.medium-6.columns
      %p.social-links.text-center.medium-text-left
        = partial 'social_links'
    .small-12.medium-6.columns
      %p.copyright.text-center.medium-text-right
        &copy;
        = DateTime.now.year
        Ryan Lindsey. All rights reserved.
  .row
    .small-12.columns
      %p.text-right
        = link_to 'https://netlify.com', title: 'Deploys by Netlify', class: 'netlify-badge' do
          = image_tag 'https://www.netlify.com/img/global/badges/netlify-color-accent.svg', alt: 'Netlify Badge'
