%meta{property: 'og:site_name', content: 'pixelsonly'}
%meta{property: 'og:type', content: 'website'}
%meta{property: 'og:url', content: config[:host] + current_page.url}
%meta{property: 'og:title', content: current_page.data.title}
%meta{property: 'twitter:site', content: '@pixelsonly'}
%meta{property: 'twitter:title', content: current_page.data.title}
