= link_to data.site.social.github.url, title: 'GitHub', class: 'social-link' do
  %i.fa.fa-github.fa-fw
= link_to data.site.social.linkedin.url, title: 'LinkedIn', class: 'social-link' do
  %i.fa.fa-linkedin.fa-fw
= link_to data.site.social.instagram.url, title: 'Instagram', class: 'social-link' do
  %i.fa.fa-instagram.fa-fw
= link_to data.site.social.twitter.url, title: 'Twitter', class: 'social-link' do
  %i.fa.fa-twitter.fa-fw
