---
title: pixelsonly.com
---

<% data.blog.post.each do |id, post| %>
  <article>
    <a href="/articles/<%= post['slug'] %>" data-article-id="<%= post['id'] %>">
      <%= post['title'] %>
    </a>
  </article>
<% end %>
